#editForm {
	display: flex;
	justify-content: space-evenly;
	margin-top: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 85px;
	color: white;
	font-weight: bold;
	background-color: rgb(9, 20, 52);
	opacity: .9;
}
