.content {
	display: none;
}

.tab-container {
	background-color: rgb(9, 20, 52);
	opacity: .9;
}

.active-content {
	display: block;
}

.active-tab {
	border-bottom: 1px solid transparent;
}

.active-tabs::before {
	content: "";
	display: block;
	transform: translateX(-50%);
	background-color: rgb(91, 91, 179);
}

.bloc-tabs {
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
	margin-top: 120px;
	margin-bottom: 30px;
	padding-top: 20px;
}

#sortLeague {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#sortSpan {
	background-color: black;
}

@media screen and (max-width: 600px) {
}
